.dub
docs.json
__dummy.html
docs/
/deth
deth.so
deth.dylib
deth.dll
deth.a
deth.lib
deth-test-*
libdeth.a
*.exe
*.o
*.obj
*.lst

*.log
./deth-test-library
./examples/DummyDefi/dummydefi
./examples/DummyDefi/deth_dummydefi
./examples/devtest/deth_devtest
